@import url(fonts.css);

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #363344, #232428);
    background-color: #292932;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    color: #c5c5c4;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    margin-top: 2rem;
    margin-bottom: 1.875rem;
}

h1.page-title {
    letter-spacing: -8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 5.125rem;
    margin-bottom: 0.125rem;
    margin-top: 0;
}

.subtitle {
    font-family: 'Fira Mono', monospace;
    margin: 0 0 1.625rem;
    color: #9595b0;
    font-weight: 500;
    line-height: 1.3;
    font-size: .95rem;
}

.brand-title {
    display: flex;
    align-items: center;
}

.dice-title {
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(45deg, #b495fd, #f4a272 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin-bottom: -0.75rem;
}

.cision-title {
    background: -webkit-linear-gradient(45deg, #69abff, #b596ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -6px;
}

.start-btn {
    background-image: linear-gradient(45deg, #8195fd, #edeccc);
    border-color: #96b5e9;
    border-radius: 10px;
    box-shadow: 6px 8px 16px #1d1722;
    font-style: italic;
    color: #3a3777;
    letter-spacing: -2px;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
    transition: all .2s ease;
    border-width: 3px;
    font-size: 1.425rem;
    padding: 1.25rem 3rem;
}

.start-btn:hover {
    box-shadow: 12px 14px 36px #1d1822;
    letter-spacing: 1px;
    background-image: linear-gradient(45deg, #a595fd, #fdd5a0);
    border-color: #a196c7;
    color: #433777;
}

.start-btn:active {
    background-image: linear-gradient(45deg, #b495fd, #fdc2a0);
    border-color: #af96c7;
    color: #463466;
}

.container {
    max-width: 860px;
    margin: auto;
    background: radial-gradient(ellipse at top, #b6afcf, transparent),
    radial-gradient(ellipse at bottom, #a669c6, transparent);
    border-radius: 40px;
    box-shadow: 0px 30px 100px #7e648f;
    transition: all .8 ease;
}

.container:hover {
    box-shadow: 0px 30px 100px #9074a1;
}

.winner-announcement {
    letter-spacing: 0.5px;
    font-family: 'Fira Mono', monospace;
    color: white;
    background-color: rgb(31 30 35 / 70%);
    box-shadow: 1px 5px 6px rgba(18, 18, 20, 0.5);
    transition: all .3s ease;
    margin: 0 auto 2.5rem;
    max-width: 640px;
    padding: 0.5rem 1.25rem;
    border-radius: 36px;
    font-size: 1.25em;
}

.winner-announcement:hover {
    background-color: rgb(31 30 35 / 100%);
    box-shadow: 1px 6px 14px rgba(18, 18, 20, 0.85);
}

.curly-braces {
    color: #ffffff;
}

.winning-hero {
    color: #7078a7;
    transition: all .1s ease;
    padding: 0 0.25rem;
    border-radius: 4px;
    margin: 0 0.5rem;
    transition: all .2s ease;
}

.hero-field {
    display: flex;
    width: 100%;
}

.hero {
    width: 50%;
    padding: 2.25rem 2.25rem 1.75rem;
}

.hero:hover .hero-name .white {
    color: #ebebeb;
}

.hero:hover h3 {
    margin-top: 0.2rem;
    margin-bottom: 1.425rem;
}

.hero:hover .dice {
    margin-left: .625rem;
    box-shadow: 4px 16px 32px rgb(82 65 112 / 80%);
}

.hero-image {
    text-align: center;
    height: 250px;
    transition: all .2s ease;
    margin: 0 0 .9375rem;
}

.knight {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.knight:hover {
    background: radial-gradient(at center top, rgba(198, 232, 252, 0.55), transparent),
    radial-gradient(at center bottom, rgb(42 77 156 / 60%), transparent);
}

.knight:hover .knight-image {
    margin-left: .5rem;
}

.knight:hover h3 {
    color: #373158;
    text-shadow: 3px 3px #e3714b;
}

.knight:hover .white {
    text-shadow: 3px 3px #ef863c;
}

.zombie {
    border-left: 5px solid #a192bb;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.zombie:hover {
    border-left: 5px solid #b599af;
    background: radial-gradient(ellipse at top, rgb(250 188 151), transparent),
    radial-gradient(ellipse at bottom, rgb(176 78 78 / 50%), transparent);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.zombie:hover .zombie-image {
    margin-right: .75rem;
}

.zombie:hover h3 {
    color: #442d58;
    text-shadow: 3px 3px #7183ff;
}

.zombie:hover .white {
    text-shadow: 3px 3px #5e4fcf;
}

.hero-name {
    font-family: 'Noto Serif', serif;
    color: #3a3344;
    letter-spacing: -1px;
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    transition: .2s ease;
    font-size: 1.75em;
    margin: 0 0 1.625rem;
}

.hero-name .white {
    color: #d2d2d2;
    display: block;
    transition: .1s ease;
}

.dice {
    width: 26%;
    margin: auto;
    box-shadow: 1px 14px 16px rgb(98 78 134 / 80%);
    border-radius: 22px;
    transition: all .4s ease;
}

footer {
    color: #ebebeb;
    font-family: 'Fira Mono', monospace;
    margin: 1.875rem 0 2rem;
    font-size: .875rem;
}

footer:hover .mochida {
    margin-left: .75rem;
}

footer:hover .mochi-company {
    color: #9696bb;
}

footer p {
    margin: 0;
    font-weight: 500;
}

.mochi-company {
    color: #8989af;
    font-family: 'Press Start 2P', cursive;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-bottom: .5rem;
    text-shadow: 2px 2px 0px #25242f;
    transition: all .2s ease;
}

.mochi-author {
    color: #1f1e26;
    font-size: .875rem;
}

.mochida {
    width: 52px;
    margin-bottom: 5px;
    transition: all .2s ease;
}

.mochi-link {
    color: #b5b5cf;
    text-decoration: none;
    transition: all .4s ease;
    cursor: pointer;
    padding: 1px 4px;
    background-color: #1f1e23;
    border-radius: 2px;
}

.mochi-link:hover {
    background-image: linear-gradient(225deg, #fd7a43, #f43846);
    color: #fff;
}

#logTable {
    margin: auto;
    width: 100%;
}

.logs {
    max-width: 420px;
    margin: 2rem auto 1.125rem;
    background-color: rgb(33 32 41 / 85%);
    border-radius: 14px;
    font-size: .875rem;
    font-family: 'Fira Mono', monospace;
    box-shadow: 1px 5px 26px rgb(18 18 20 / 50%);
    transition: all .2s ease;
}

.logs:hover {
    box-shadow: 1px 5px 32px rgb(18 18 20 / 60%);
}

.logs:hover .log-title {
    color: #7c8ee9;
}

.log-title {
    margin: 0;
    color: #6a7ed8;
    background-color: rgb(22 21 27 / 85%);
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    padding: 0.25rem 0;
    font-size: .9375rem;
    transition: all .1s ease;
}

.log-header th {
    color: #696d8d;
    background-color: rgb(27 26 33 / 85%);
}

.log-data tr {
    transition: all .2s ease;
}

.log-data tr:hover {
    background-color: rgb(29 27 35 / 40%);
}

.log-data tr.table-date:hover {
    background-color: transparent;
}

.logs tr:hover td {
    color: #aeaec5;
}

.log-row.log-header {
    color: #69687f;
    background-color: rgb(30 30 36 / 70%);
}

.logs td {
    padding: 0.25rem 0;
    color: #79788d;
    font-size: .825rem;
}

.download-table-btn {
    background-color: #494872;
    color: #9f9eaf;
    border: none;
    padding: 0.125rem 0.375rem;
    border-radius: 4px;
    font-family: 'Fira Mono', monospace;
    font-size: .75rem;
    box-shadow: 2px 2px 4px rgb(18 18 20 / 30%);
    border-style: outset;
    border-width: 2px;
    border-color: #59588b;
    transition: all .1s ease;
}

.download-table-btn:hover {
    border-color: #6d6ca3;
    color: #afaebe;
}

.download-table-btn:active {
    background-color: #3c3b61;
    border-color: #4d4c79;
    border-style: inset;
}

.dice-logs {
    margin-bottom: 3rem;
}

/* **************** JavaScript **************** */
.winning-default {
    color: #7078a7;
}
.winning-knight {
    color: #fc6e43;
}
.winning-zombie {
    color: #6b85fb;
}

.rotate360 {
    transform: rotate(360deg);
}
.rotate360-reverse {
    transform: rotate(-360deg);
}

/* **************** Media Queries **************** */
@media only screen and (max-width: 420px) {
    /* ********** Header ********** */
    header {
        margin-top: 1rem;
        margin-bottom: 1.625rem;
        margin-bottom: 1.5rem;
    }
    h1.page-title {
        font-size: 2.75rem;
        font-size: 2.5rem;
    }
    .dice-title {
        font-size: 2.25rem;
        font-size: 2rem;
        margin-bottom: -0.25rem;
        letter-spacing: -4px;
    }
    .cision-title {
        letter-spacing: -2px;
    }
    .subtitle {
        margin: 0 auto 1.25rem;
        font-size: .75rem;
        width: 90%;
    }
    .start-btn {
        font-size: 1rem;
        padding: 0.75rem 2.375rem;
        font-size: .9375rem;
        padding: 0.65rem 2.375rem;
        border-radius: 8px;
    }
    .winner-announcement {
        width: 88%;
        font-size: .875rem;
        margin: 0 auto 1.5rem;
        padding: 0.375rem;
    }
    .winning-hero {
        margin: 0 0.25rem;
    }

    /* ********** Main ********** */
    .container {
        border-radius: 20px;
        width: 88%;
    }
    .hero {
        padding: 1rem 0.75rem 0.625rem;
    }
    .hero:hover h3 {
        margin-bottom: 0.875rem;
    }
    .hero-image {
        height: 98px;
        font-size: 1.25em;
        margin: 0 0 0.625rem;
    }
    .hero-name {
        font-size: .9375rem;
        margin: 0 0 0.9375rem;
    }
    .dice {
        width: 40%;
        border-radius: 12px;
    }

    /* ********** Knight ********** */
    .knight {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .knight:hover h3 {
        text-shadow: 1px 2px #e3714b;
    }
    .knight:hover .white {
        text-shadow: 2px 2px #ef863c;
    }

    /* ********** Zombie ********** */
    .zombie {
        border-left: 4px solid #a192bb;
    }
    .zombie:hover {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: 4px solid #b599af;
    }
    .zombie:hover h3 {
        text-shadow: 1px 2px #7183ff;
    }
    .zombie:hover .white {
        text-shadow: 2px 2px #5e4fcf;
    }

    /* ********** Footer ********** */
    footer {
        margin: 1.125rem 0 1.25rem;
    }
    .mochida {
        width: 44px;
    }
    .mochi-company {
        font-size: .5rem;
        font-size: .525rem;
    }
    .mochi-author {
        font-size: .75rem;
    }

    /* ********** Logs ********** */
    .dice-logs {
        width: 90%;
        margin: 0 auto 1.5rem;
    }
    .logs {
        margin: 0 auto 1.125rem;
    }
    .log-title {
        font-size: .825rem;
    }
    .log-header th {
        font-size: .75rem;
    }
    .logs td {
        font-size: .75rem;
    }
}