@import url(fonts.css);

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(45deg, #b495fd, #232428); */
    background-image: linear-gradient(45deg, #363344, #232428);
    /* background-image: linear-gradient(45deg, #b495fd, #f4a272); */
    background-color: #232428;
    background-color: #292932;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    color: #ede8e5;
    color: #dfdddb;
    color: #c5c5c4;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: Inter, sans-serif;
    font-family: 'Noto Serif', serif; */
}

header {
    margin-bottom: 3rem;
    margin-top: 2.5rem;
}

h1.page-title {
    font-size: 6.5rem;
    font-size: 7.5rem;
    letter-spacing: -8px;
    /* letter-spacing: -10px; */
    /* color: #a4c9ff;
    color: #a4c0ff; */
    margin-bottom: 1rem;
    margin-top: 0;
    /* background: -webkit-linear-gradient(45deg, #74f3d7, #b596ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* font-family: Inter, sans-serif; */
    /* font-family: Garamond; */
    /* font-family: "Times New Roman", Times, serif; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 6.875rem;
}

.brand-title {
    display: flex;
    align-items: center;
}

.dice-title {
    text-decoration: wavy;
    font-family: 'Press Start 2P', cursive;
    font-size: 5.3725rem;
    margin-bottom: -1rem;
    /* margin-right: 0.5rem; */
    background: -webkit-linear-gradient(45deg, #b495fd, #f4a272 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ision-title {
    background: -webkit-linear-gradient(45deg, #f37474, #b596ff 80%);
    background: -webkit-linear-gradient(45deg, #74f3d7, #b596ff 80%);
    background: -webkit-linear-gradient(45deg, #74c3f3, #b596ff 80%);
    background: -webkit-linear-gradient(45deg, #69c6ff, #b596ff 80%);
        background: -webkit-linear-gradient(45deg, #69abff, #b596ff 80%);
    /* background: -webkit-linear-gradient(45deg, #b596ff, #74f3d7 80%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registered-trademark {
    font-size: 2rem;
    margin-top: 1.75rem;

    margin-top: 1.625rem;
    margin-left: -0.25rem;
    color: #544872;
    color: #a49cff;
    color: #4d4872;
}

.refresh-btn {
    background-color: #83e2df;
    background-image: linear-gradient(45deg, #9dbfee, #c7c69d);
    background-image: linear-gradient(45deg, #8195fd, #edeccc);
    border-color: #96cae9;
    padding: 1rem 1.5rem;
    padding: 1.5rem 4rem;
    border-radius: 10px;
    box-shadow: 8px 14px 20px #42344d;
    box-shadow: 6px 8px 16px #1d1722;
    font-style: italic;
    color: #4b4e7f;
    color: #393e8b;
    color: #413d85;
    /* color: #353274; */
    font-size: 1.75rem;
    font-size: 2rem;
    letter-spacing: -2px;
    /* letter-spacing: -1px; */
    font-weight: 700;
    /* text-shadow: 0px 1px 16px #4b4e7f; */
    /* text-shadow: 0px 1px 16px #5b60b0; */
    font-family: 'Press Start 2P', cursive;
    transition: all .2s ease;
    border-width: 3px;
}

.refresh-btn:hover {
    background-image: linear-gradient(45deg, #b495fd, #fdc2a0);
    border-color: #d9baf4;
    /* border-color: #ffcfd7; */
    /* text-shadow: 0px 2px 16px #483461; */
    /* text-shadow: 0px 2px 24px #483461; */
    /* text-shadow: 0px 2px 24px #b18d70; */
    /* text-shadow: 0px 2px 24px #f3a96c; */
    /* text-shadow: 0px 2px 24px #f3b86c; */
    /* text-shadow: 0px 2px 24px #7a4d94; */
    box-shadow: 8px 14px 20px #1d1722;
    box-shadow: 10px 14px 28px #1d1722;
    box-shadow: 12px 14px 36px #1d1822;
    /* box-shadow: 12px 14px 36px #19141d; */
    /* box-shadow: 12px 14px 36px #18141d; */
    color: #fdfdfc;
    color: #ffffff;
    letter-spacing: 1px;
}

.container {
    max-width: 1024px;
    margin: auto;
    /* min-height: 600px; */
    background-color: #232527;
    background-image: linear-gradient(45deg, #c975b9, #a669c8, #b6afcf, #cac4fd);
    background-image: linear-gradient(45deg, #c975b9, #a669c8, #b6afcf, #f390f8);
    background-image: linear-gradient(45deg, #c975b9, #a669c8, #b6afcf, #d29fff);
    background: radial-gradient(#e66465, #9198e5);
    background: radial-gradient(ellipse at top, #b6afcf, transparent),
    radial-gradient(ellipse at bottom, #a874c3, transparent);
    background: radial-gradient(ellipse at top, #b6afcf, transparent),
    radial-gradient(ellipse at bottom, #a669c6, transparent);
    /* border: 1px solid #8f7bc1; */
    /* border: 2px solid #b896f8;
    border: 1px solid #c8abff;
    border: 1px solid #d1a0af; */
    border-radius: 40px;
    /* border-radius: 100px; */
    box-shadow: 10px 10px 46px white;
    box-shadow: 0px 30px 100px #7e648f;
    /* box-shadow: 0px 20px 100px #6c6085; */
    transition: all 1.2 ease;
    /* transition: all .6 ease; */
}

.container:hover {
    /* background: radial-gradient(ellipse at top, #c4cdf1c5, transparent),
    radial-gradient(ellipse at bottom, #bf84c4b4, transparent);
    background: radial-gradient(ellipse at top, #cfd8fac5, transparent),
    radial-gradient(ellipse at bottom, #bf84c4b4, transparent); */
    /* background: radial-gradient(ellipse at top, #cfd8fbc5, transparent),
    radial-gradient(ellipse at bottom, #bf84c4b4, transparent); */
}

.container:hover .zombie {
    /* border-left: 5px solid #998fb4;
    border-left: 5px solid #a099bb; */
}

.winner-announcement {
    letter-spacing: 0.5px;
    /* font-style: italic; */
    margin: 1rem 0 2.5rem;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Play', sans-serif;
    font-family: 'Fira Mono', monospace;
    color: white;
    font-size: 1.375em;
    font-size: 1.875em;
}

.winner-announcement:hover .curly-braces {
    color: #ff985b;
    color: #9fb4ff;
    color: #767ffe;
}

.winner-announcement:hover .winning-hero {
    /* background: -webkit-linear-gradient(45deg, #69abff, #b596ff 80%);
    background: -webkit-linear-gradient(180deg, #fd7843, #f43846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #f43846;
    /* color: #f44538; */
}

.curly-braces {
    color: #76a7fe;
    color: #7693fe;
    transition: all .3s ease;
}

.winning-hero {
    /* background: -webkit-linear-gradient(45deg, #b495fd, #f4a272 80%);
    background: -webkit-linear-gradient(45deg, #fd7843, #f43846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #fa6645;
    color: #fd7843;
    transition: all .1s ease;
    background-color: #26252b;
    background-color: #222127;
    background-color: #1f1e23;
    padding: 0 0.5rem;
    border-radius: 4px;
    margin: 0 0.5rem;
}

.hero-field {
    display: flex;
    width: 100%;
}

.hero {
    width: 50%;
    padding: 3rem;
}

.hero:hover .hero-name .white {
    color: #dedede;
    color: #ebebeb;
}

.hero:hover h3 {
    margin-top: -0.25rem;
    margin-bottom: 1.875rem;
    margin-top: 0.25rem;
    margin-bottom: 1.375rem;
    margin-top: 0.2rem;
    margin-bottom: 1.425rem;
    /* margin-top: 0.125rem;
    margin-bottom: 1.5rem; */
}

.hero:hover .dice {
    margin-left: .625rem;
    box-shadow: 2px 14px 32px rgb(82 65 112 / 80%);
    box-shadow: 4px 16px 32px rgb(82 65 112 / 80%);
}

.hero-image {
    /* width: 80%; */
    text-align: center;
    height: 348px;
    height: 340px;
    height: 330px;
    transition: all .2s ease;
}

.knight {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.knight:hover {
    background: radial-gradient(ellipse at top, #cfd8fac5, transparent),
    radial-gradient(ellipse at bottom, #bf84c4b4, transparent);
    background: radial-gradient(ellipse at top, rgb(211 215 217 / 50%), transparent),
    radial-gradient(ellipse at bottom, rgb(196 132 167 / 50%), transparent);
    background: radial-gradient(ellipse at top, rgba(249, 222, 250, 0.5), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgb(222 227 250 / 50%), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgb(222 227 250 / 60%), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgba(188, 200, 247, 0.6), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgb(188 212 247 / 70%), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgb(198 232 252 / 60%), transparent),
    radial-gradient(ellipse at bottom, rgb(83 86 172 / 50%), transparent);
    /* background: radial-gradient(ellipse at top, rgb(198 232 252 / 60%), transparent),
    radial-gradient(ellipse at bottom, rgba(83, 92, 172, 0.7), transparent); */
    background: radial-gradient(at center top, rgba(198, 232, 252, 0.5), transparent),
    radial-gradient(at center bottom, rgba(56, 60, 167, 0.4), transparent);
    background: radial-gradient(at center top, rgba(198, 232, 252, 0.55), transparent),
    radial-gradient(at center bottom, rgba(56, 60, 167, 0.4), transparent);
    background: radial-gradient(at center top, rgba(198, 232, 252, 0.55), transparent),
    radial-gradient(at center bottom, rgb(42 77 156 / 60%), transparent);
    /* background: radial-gradient(ellipse at top, rgb(198 232 252 / 50%), transparent),
    radial-gradient(ellipse at bottom, rgba(56, 60, 167, 0.4), transparent); */
    /* border-right: 5px solid #a099bb; */
}

/* .knight:hover .zombie {
    border-left: none;
} */

.knight:hover .knight-image {
    margin-left: .5rem;
}

.knight:hover h3 {
    color: #3a3556;
    color: #373158;
    /* color: #372f52; */
    text-shadow: 3px 3px #e3714b;
    /* text-shadow: 3px 3px #d06b49; */
}

.knight:hover .white {
    text-shadow: 3px 3px #3c6bef;
    text-shadow: 3px 3px #ef863c;
    /* text-shadow: 3px 3px #3b70e9; */
}

.zombie {
    /* border-left: 5px solid #9c92bb; */
    border-left: 5px solid #a192bb;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.zombie:hover {
    border-left: 5px solid #b599af;
    background: radial-gradient(ellipse at top, #f9defac5, transparent),
    radial-gradient(ellipse at bottom, #c4849cb4, transparent);
    background: radial-gradient(ellipse at top, rgba(249, 222, 250, 0.5), transparent),
    radial-gradient(ellipse at bottom, rgba(196, 132, 156, 0.5), transparent);
    background: radial-gradient(ellipse at top, rgb(244 162 114), transparent),
    radial-gradient(ellipse at bottom, rgb(163 104 136 / 50%), transparent);
    /* background: radial-gradient(ellipse at top, rgb(244 162 114), transparent),
    radial-gradient(ellipse at bottom, rgb(196 132 167 / 50%), transparent); */
    background: radial-gradient(ellipse at top, rgb(238 171 131), transparent),
    radial-gradient(ellipse at bottom, rgb(163 104 136 / 50%), transparent);
    background: radial-gradient(ellipse at top, rgb(250 188 151), transparent),
    radial-gradient(ellipse at bottom, rgb(163 104 136 / 50%), transparent);
    background: radial-gradient(ellipse at top, rgb(250 188 151), transparent),
    radial-gradient(ellipse at bottom, rgb(176 78 78 / 50%), transparent);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.zombie:hover .zombie-image {
    margin-right: .75rem;
}

.zombie:hover h3 {
    color: #43324e;
    color: #48324e;
    color: #563048;
    color: #56304c;
    color: #563054;
    text-shadow: 3px 3px #c460bf;
    /* text-shadow: 3px 3px #d169d8; */
    /* text-shadow: 3px 3px #b559bb; */
    /* text-shadow: 3px 3px #4fc29d;
    text-shadow: 3px 3px #4fc27d;
    text-shadow: 3px 3px #5cca55;
    text-shadow: 3px 3px #51c049;

    text-shadow: 3px 3px #61c049;
    text-shadow: 3px 3px #5dce41;
    text-shadow: 3px 3px #26bc46;

    text-shadow: 3px 3px #26bc3f; */
    /* text-shadow: 3px 3px #c05ec7; */
    /* text-shadow: 3px 3px #c956d1; */
    /* text-shadow: 3px 3px #c464cb; */
}

.zombie:hover .white {
    text-shadow: 3px 3px #db5593;
    /* text-shadow: 3px 3px #4fc262;
    text-shadow: 3px 3px #55ca69;
    text-shadow: 3px 3px #5cca55;
    text-shadow: 3px 3px #4fc27d; */
}

/* .zombie:hover .separator {
    background-color: #b599af !important;
} */

.hero-name {
    font-size: 2.5em;
    font-size: 2.25em;
    font-family: 'Noto Serif', serif;
    color: #eaeaea;
    color: #d9d9d9;
    color: #3a3344;
    letter-spacing: -1px;
    font-style: italic;
    margin: 1rem 0 2.5rem;
    font-family: 'Press Start 2P', cursive;
    transition: .2s ease;
}

.hero-name .white {
    color: #673266;
    color: #bebebe;
    color: #c8c8c8;
    color: #d2d2d2;
    /* color: #dedede; */
    display: block;
    transition: .1s ease;
}

/* .hero-name:hover {
    color: #43324e;
    color: #48324e;
} */

/* .hero-name:hover .white {
    color: #dedede;
    color: #ebebeb;
} */

.dice {
    width: 50%;
    width: 40%;
    margin: auto;
    box-shadow: 0px 14px 16px #5c4971;
    box-shadow: 0px 14px 16px #624e86;
    box-shadow: 0px 14px 16px rgb(98 78 134 / 80%);
    box-shadow: 1px 14px 16px rgb(98 78 134 / 80%);
    /* box-shadow: 0px 14px 16px rgb(82 65 112 / 80%); */
    border-radius: 22px;
    transition: all .4s ease;
}

.dice:hover {
    /* box-shadow: 2px 14px 32px rgb(82 65 112 / 80%);
    box-shadow: 4px 16px 32px rgb(82 65 112 / 80%); */
    /* margin-top: -.5rem; */
    /* margin-left: .625rem; */
}

/* .knight .dice:hover {
    margin-left: .625rem;
}
.zombie .dice:hover {
    margin-left: .625rem;
    margin-right: .625rem;
} */

/* .separator {
    width: 1%;
    background-color: #a192bb;
} */

footer {
    margin: 2.5rem 0 0;
    color: #656898;
    color: #585b86;
    color: #6a6d98;
    /* color: #676a98; */
    /* color: #696b8e; */
    color: #e7c692;
    color: #ceb690;
    color: #ebebeb;
    /* color: #debf8c; */
    font-size: 1rem;
    font-family: 'Fira Mono', monospace;
}

footer:hover .mochidi {
    margin-left: .75rem;
}

footer:hover .mochi-company {
    color: #9696bb;
    /* color: #9c9cc0; */
    /* color: #a2a2c4; */
    /* text-shadow: 3px 3px 0px #25242f;
    text-shadow: -2px 2px 0px #25242f; */
}

footer p {
    margin: 0 0 .25rem;
    /* background: -webkit-linear-gradient(45deg, #e7c692, #937e5c 80%);
    background: -webkit-linear-gradient(321deg, #e7c692, #937b5c 80%);
    background: -webkit-linear-gradient(321deg, #d6bfb8, #937b5c 80%);
    background: -webkit-linear-gradient(321deg, #a89d91, #937b5c 80%);
    background: -webkit-linear-gradient(321deg, #aea59c, #937b5c 80%); */
    /* background: -webkit-linear-gradient(321deg, #e7c692, #ceb090 80%); */
    /* background: -webkit-linear-gradient(321deg, #9d968e, #937b5c 80%);
    background: -webkit-linear-gradient(321deg, #9d968e, #93715c 80%);
    background: -webkit-linear-gradient(321deg, #3f3949, #7f768a 80%);
    background: -webkit-linear-gradient(135deg, #5a5462, #87828f 80%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 700;
    font-weight: 500;
}

.mochi-company {
    /* font-size: .9375rem; */
    color: #9888a7;
    color: #b88386;
    color: #f6b997;
    color: #1f1e26;
    color: #ff4639;
    color: #7693fd;
    color: #7374a3;
    color: #7f7fa7;
    color: #8989af;
    font-family: 'Press Start 2P', cursive;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-bottom: .5rem;
    text-shadow: 2px 2px 0px #25242f;
    transition: all .2s ease;
}

.mochi-author {
    /* background: -webkit-linear-gradient(321deg, #564a54, #93715c 80%);
    background: -webkit-linear-gradient(127deg, #3f3949, #7f768a 80%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #26272c;
    color: #1f1e26;
    font-size: .875rem;
    /* margin-top: .125rem; */
}

.mochidi {
    width: 48px;
    width: 52px;
    /* width: 56px; */
    margin-bottom: 5px;
    transition: all .2s ease;
}

/* .mochidi:hover {
    margin-right: .5rem;
    margin-right: 1.25rem;
} */

.mochi-link {
    color: #7693fe;
    color: #5c68c4;
    color: #7f7f9b;
    color: #8a8a9d;
    color: #9d8a99;
    color: #766889;
    color: #706889;
    color: #6f6889;
    color: #8a83a1;
    color: #b5b5cf;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
    padding: 1px 4px;
    background-color: #1f1e23;
    border-radius: 2px;
}
.mochi-link:hover {
    color: #7693fe;
    color: #8ba4ff;
    color: #7693fe;
    color: #ff4639;
    color: #ff5f39;
    color: #8fa5f7;
    color: #7b96f7;
    color: #f9b187;
    color: #f9a787;
    color: #f4a272;
    color: #f49772;
    color: #f8a382;
    background-image: linear-gradient(45deg, #fd7a43, #f43846);
    background-image: linear-gradient(225deg, #fd7a43, #f43846);
    color: #fff;
    /* color: #db5593;
    color: #af6aae; */
    /* text-decoration: underline; */
}

/* .zombie .player-name {
    font-family: 'Creepster', cursive;
    font-size: 2.75em;
    letter-spacing: 0;
    color: #3a2d4d;
    color: #322644;
}

.knight .player-name {
    color: #322e2e;
    color: #2a2626;
} */



/* **************** Media Queries **************** */
@media only screen and (max-width: 1440px) {
    h1.page-title {
        font-size: 5.125rem;
        margin-bottom: 0.625rem;
    }
    .registered-trademark {
        font-size: 1.625rem;
        margin-top: 1.125rem;
        margin-left: -0.1rem;
    }
    .dice-title {
        font-size: 4rem;
        margin-bottom: -0.75rem;
    }
    .ision-title {
        letter-spacing: -6px;
    }
    .refresh-btn {
        font-size: 1.5rem;
        padding: 1.25rem 3rem;
    }

    .container {
        max-width: 920px;
        max-width: 840px;
        /* max-width: 800px; */
    }
    header {
        margin-top: 2rem;
        margin-bottom: 2.25rem;
    }

    .winner-announcement {
        font-size: 1.125em;
        margin: 1rem 0 1.75rem;
        margin: 0 0 2rem;
        font-size: 1.875em;
        font-size: 1.75em;
        font-size: 1.625em;
        font-size: 1.525em;
        /* font-weight: 500; */
    }
    .hero {
        padding: 2.25rem 2.25rem 1.75rem;
        padding: 2rem 2rem 1.5rem;
    }
    .hero-image {
        height: 260px;
        height: 250px;
        margin: 0 0 1rem;
        margin: 0 0 .9375rem;
    }
    .hero-name {
        font-size: 1.75em;
        font-size: 1.7em;
        margin: 0 0 1.625rem;
    }

    .dice {
        width: 30%;
    }

    footer {
        margin: 1.875rem 0 2.5rem;
        font-size: .875rem;
    }

    footer p {
        margin: 0;
    }
}